@import "tailwindcss";

:root {
  --app-bg: rgb(255 255 255);
  --app-fg: rgb(15 23 42);

  --app-primary: rgb(37 99 235);
  --app-primary-fg: rgb(255 255 255);

  --app-muted: rgb(241 245 249);
  --app-border: rgb(226 232 240);

  --app-danger: rgb(220 38 38);
}

[data-theme="dark"] {
  --app-bg: rgb(2 6 23);
  --app-fg: rgb(226 232 240);

  --app-primary: rgb(59 130 246);
  --app-primary-fg: rgb(2 6 23);

  --app-muted: rgb(15 23 42);
  --app-border: rgb(30 41 59);

  --app-danger: rgb(248 113 113);
}


@theme {
  /* Fonts */
  --font-sans: ui-sans-serif, system-ui, sans-serif;

  /* Spacing scale */
  --spacing: 0.25rem;

  /* Radius */
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;

  /* Semantic colors (NOT actual colors yet) */
  --color-bg: var(--app-bg);
  --color-fg: var(--app-fg);
  --color-primary: var(--app-primary);
  --color-primary-fg: var(--app-primary-fg);
  --color-muted: var(--app-muted);
  --color-border: var(--app-border);
  --color-danger: var(--app-danger);
}